div#cart-items {
  padding: 4px;
  text-align: left;
  position: absolute;
  right: 0;
  background-color: #335;
  z-index: 1;
  font-size: 0.75rem;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}
div#cart-items.visible {
  opacity: 1;
  pointer-events: all;
}

div#cart-items img {
  width: 32px;
  height: 32px;
  object-fit: cover;
}
div#cart-items button {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  margin: 4px;
  background-color: lightcoral;
}

.item{
  display: flex;
  justify-content: space-between;
}